body {
    background-image: url(./pictures/OUROS-DESKTOP-BACKGROUND.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
#welcomeheader {
    padding: 5px;
    cursor: move;
    background-color: #ff000080;
    border: 3px solid #fff200;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    color: #fff200;

    display: flex;
    align-items: center;
}
#welcomeheader img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: auto;
    cursor: pointer;
}
.topbar {
    position: absolute;
    width: 100%;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: #fff200;
    color: #cc0000;
    justify-content: space-between;
    filter: drop-shadow(0 0 15px #fff200);
}
.selected {
    background-color: #fff20080;
    border: 2px solid #fff200;
    border-radius: 8px;
}
#manifesto {
    border: 3px solid #fff200;
    border-radius: 5px;
    width: 640px;
    height: 600px;
    padding: 16px;
    color: #fff200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cc0000;
    display: none;
    padding-bottom: 60px;
}
#communist-notes {
    border: 3px solid #fff200;
    border-radius: 5px;
    width: 640px;
    height: 600px;
    padding: 16px;
    color: #fff200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cc0000;
    display: none;
    padding-bottom: 60px;
}
#communist-notesheader {
    padding: 5px;
    cursor: move;
    background-color: #ff000080;
    border: 3px solid #fff200;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    color: #fff200;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
#communist-notesheader img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: auto;
    cursor: pointer;
}
#manifestoheader {
    padding: 5px;
    cursor: move;
    background-color: #ff000080;
    border: 3px solid #fff200;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    color: #fff200;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
#manifestoheader img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: auto;
    cursor: pointer;
}
#welcome {
    /*z-index: 9;*/
    border: 3px solid #fff200;
    border-radius: 5px;
    width: 320px;
    padding: 16px;
    color: #fff200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cc0000;
}
#welcomeopen {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#welcomeopen img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 5px;
    cursor: pointer;
}
#communist-notes-app {
    margin: 2;
    padding: 0px;
    margin-left: 11px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}
#communist-notes-app img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 0px;
    cursor: pointer;
}
#manifesto-app {
    margin: 2;
    padding: 0px;
    margin-left: 11px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}
#manifesto-app img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 0px;
    cursor: pointer;
}
#timeElement {
    margin: 0 0 0 7px;
    font-weight: bold;
    line-height: 18px;
    font-size: 17px;
}
h1 {
    font-family: Impact;
    font-size: 30px;
    margin: 0 0 5px 0;
}
h2 {
    font-size: 20px;
    margin: 0 0 5px 0;
}
p {
    margin: 0 0 3px 0;
}
a {
    color: #fff200;
    display: block;
    margin-top: 8px;
}